# Python
*.pyc
*.py~
*.pyc~

# C/C++
*.cpp~
*.c~
*.hpp~
*.h~


# YAML
*.yaml~
*.yml~

# Object files
*.o

*.html~
*.css~

*.sh~
*.bash~
*.txt~
*.js~
*.json~
*.frag~
*.conf~
*.md~

.gitignore~
.kdevgen
Makefile~
Dockerfile~
README.md~
APIs/python/README.rst~
kserverd
apis/cli/kserver
tmp
venv

apis/js/koheron-websocket-client/tests/hello_world.js
apis/js/koheron-websocket-client/tests/tests.js
apis/C/hello_world/hello_world
apis/C/tests/tests
