# Python
*.pyc
*.py~
*.pyc~

# C/C++
*.cpp~
*.c~
*.hpp~
*.h~


# YAML
*.yaml~
*.yml~

# Object files
*.o

*.html~
*.css~

*.sh~
*.bash~
*.txt~
*.js~
*.json~
*.frag~
*.conf~
*.md~

.gitignore~
.cache
Makefile~
Dockerfile~
README.md~
kserverd
tmp
venv
server.log

apis/js/koheron-websocket-client/lib/
apis/js/koheron-websocket-client/tests/hello_world.js
apis/js/koheron-websocket-client/tests/tests.js
apis/js/koheron-websocket-client/node_modules/