# Python
*.pyc
*.py~
*.pyc~

# C/C++
*.cpp~
*.c~
*.hpp~
*.h~


# YAML
*.yaml~
*.yml~

# Object files
*.o

*.html~
*.css~

*.sh~
*.bash~
*.txt~
*.js~
*.json~
*.frag~
*.conf~
*.md~

.gitignore~
.kdevgen
Makefile~
Dockerfile~
README.md~
makefile_template~
APIs/python/README.rst~
kserverd
APIs/cli/kserver
tmp
venv

CLI/.kserver_cli
CLI/kserver

middleware/libraries


